server {
    listen 80;
    listen [::]:80;
    server_name yourdomain.com;

    #BLOCK SHADY REQUESTS
    location ~ \.(aspx|asp|php|jsp|cgi)$ {
       return 410;
    }

    location / {
        root /path/to/tinysite/static;
	      try_files $uri $uri.html $uri/index.html =404;
    }

}
